/* Global edits */
*{
    background-color: black;
}

/* Navbar edits */
.navbar{
    text-align: right;
    
}

.button{
    background-color: bisque;
    
}

.button a{
    background-color: bisque;
}

.button a:hover{
    background-color: orange;
}

.button:hover{
   background-color:orange;
   color: orange;
}

.button:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px orange;
}

/* hyper link colours */
a {                                     
    color:blue                      
}

a:visited {
    color:rebeccapurple
}

a:hover{
    color:blue;
}

a:focus{
    outline-color:transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px orange;
}

/* text edits */
p{
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content:center;
    color:bisque 
}


h1{
    text-align: center;
    color:bisque
    
}

h2{
    text-align:center;
    color:bisque
}

/* Image edits */
.AI{
    display:flex;
    justify-content:center;
    flex-direction:column
    ;
}

.CV{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
