*{
    background-color: black;
}

/* Navbar edits */
.navbar{
    text-align: right;
    
}

.button{
    background-color: bisque;
    
}

.button a{
    background-color: bisque;
}

.button a:hover{
    background-color: orange;
}

.button:hover{
   background-color:orange;
   color: orange;
}

.button:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px orange;
}

.text{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    color:bisque
    
}

.end{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    color:bisque;
    padding:20px
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  
  .brain{
    display:flex;
    position:absolute;
    height:270px;
    width:290px;
    bottom:90px;
    
}

.neuron{
    display:flex;
    position:absolute;
    height:270px;
    width:290px;
    right:80px;
    bottom:85px;
}